{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'portfoliopages/sass/portfolio.min.css' %}">
</head>

<body>
    <div id = "firstContainer">
        <div id="titlePageTable">
            <h1>Polina Jastrzebska</h1>
            <div id="arrow">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="mainContainer">
        <div id="banner">
            <div id="personalInfo">
                <div id="bioText">
                    {% for b in bio %}
                        <p>{{b.text}}</p>
                    {% endfor %}
                </div>

                <div id="socialIcons">
                    <div id="tooltip" style="display: none">
                        <div id="emailAddress" title="Email Address">polina.jastr@gmail.com</div>
                        <button id="copy" data-clipboard-target="#emailAddress"><b>Copy</b></button>
                    </div>
                    <div id="tip" style="display: none"></div>
                    <div id="gMail"><img src="{% static "portfoliopages/img/gmail.png" %}" class="gmail-circle" alt="Gmail icon"></a></div>
                    <div id="gitHub"><a href="https://github.com/jastr945" target="_blank"><span>Github</span></a></div>
                    <div id="linkedIn"><a href="https://www.linkedin.com/in/polinajastrzebska/" target="_blank"><span>LinkedIn</span></a></div>
                </div>
            </div>


            <div id="profilePic">
              {% for p in profile_pic %}
                <img src="media/{{p.img}}" class="img-circle" alt="Profile picture">
              {% endfor %}
                <div id="skillsSection" class="field">
                    <div id="skillsList">
                        {% for s in skills %}
                            <div>{{ s.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>  
        </div>

        <div id="projectSection">
            <div>
                <h1>Projects:</h1>
            </div>
            <div id="projects">

                {% if projects %}
                    {% for p in projects %}
                        <div id="project" class="project">
                            <div id="projectName"><b>{{ p.name }}</b></div>
                            <div id="projectImg"><img src="media/{{ p.img }}" alt="Project file" class="projectRoundPic" height="120px" width="120px"></div>
                            <div id="projectDescription">{{ p.description }}</div>
                            <div id="projectButtons" class="projectButtons" style="display: none">
                              {% if p.demo_link %}
                                <div id="seeDemo" class="buttonLink"><a href="{{ p.demo_link }}" onclick="window.open('{{ p.demo_link }}', '_blank')"><b>See how it works</b></a></div>
                              {% elif p.slug %}
                                <div id="seeDemo" class="buttonLink"><a href="{% url 'project' p.slug %}" onclick="window.open('{% url 'project' p.slug %}', '_blank')"><b>See how it works</b></a></div>
                              {% endif %}
                                <div id="seeCode" class="buttonLink"><a href="{{ p.project_link }}" onclick="window.open('{{ p.project_link }}', '_blank')"><b>Look at the code</b></a></div>
                                <div id="seeReadMe" class="buttonLink"><a href="{{ p.readme_link }}" onclick="window.open('{{ p.readme_link }}', '_blank')"><b>Open the ReadMe.md file</b></a></div>
                                <div id="arrowClose" class="arrowClose"></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'portfoliopages/js/site.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
</body>
</html>
