{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{% static 'portfoliopages/sass/weather.css' %}">
</head>
<body>
  <div id="mainContainer">
    <div id="content">
        <h1>Weather Forecast</h1>
        <div id="cityTab">
          <input id="city" type="text" placeholder="Enter the name of the city...">
          <button id="checkWeather">Check Weather</button>
        </div>
        <div id="icon"></div>
        <div id="result" style="display: none"></div>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'portfoliopages/js/weather.js' %}"></script>
</body>
</html>
