body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

#mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  width: 75%;
  height: auto;
  min-height: 100%;
  margin: auto;
  padding: 0;
  background-color: #003366;
  font-family: Arial; }
  #mainContainer h1 {
    font-size: 3em;
    color: white;
    padding: 0.5em;
    height: 1em;
    text-align: start; }
  #mainContainer #loginInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 98%;
    margin: 0 0 0;
    padding: 0;
    font-family: Arial;
    color: white;
    font-size: 1.5em; }
    #mainContainer #loginInfo a {
      text-decoration: none;
      color: white; }
  #mainContainer #searchTab {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    margin: 1em;
    padding: 0;
    width: 55em;
    height: 20em;
    background-color: white; }
    #mainContainer #searchTab #searchEngine {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 85%;
      height: 50%;
      align-content: stretch;
      align-items: center;
      align-self: center;
      justify-content: center;
      margin: 0; }
      #mainContainer #searchTab #searchEngine #searchField {
        margin: 0;
        width: 25em;
        height: 3em;
        font-size: 1.5em; }
      #mainContainer #searchTab #searchEngine #findButton {
        margin: 0;
        width: 5em;
        height: 3em;
        font-size: 1.5em; }
    #mainContainer #searchTab #findAllTab {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: flex-start;
      align-self: center;
      justify-content: center;
      margin: 0;
      width: 85%;
      height: 50%; }
      #mainContainer #searchTab #findAllTab #allDogs {
        width: 10em;
        height: 3em;
        font-size: 1.5em; }
      #mainContainer #searchTab #findAllTab #allCats {
        width: 10em;
        height: 3em;
        font-size: 1.5em; }

#addOption, #seeAllOption {
  align-self: center;
  width: 96%;
  cursor: pointer; }
  #addOption h1, #seeAllOption h1 {
    border-bottom: 3px solid white; }

#addAnimalTable {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width: auto;
  height: auto;
  align-content: stretch;
  font-family: Arial;
  color: white;
  font-size: 1.5em; }
  #addAnimalTable .addAnimalRows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    width: 30em;
    height: 2em;
    margin: 0.5em; }
    #addAnimalTable .addAnimalRows .right {
      width: 13em; }
    #addAnimalTable .addAnimalRows #submitButton {
      align-self: center;
      height: 2.5em;
      margin-right: auto;
      margin-left: auto;
      margin-top: 2em;
      font-size: 1em;
      cursor: pointer; }
    #addAnimalTable .addAnimalRows input, #addAnimalTable .addAnimalRows select {
      font-family: Arial;
      color: black;
      font-size: 0.8em; }

.headline {
  align-self: center;
  justify-content: center; }

.forms {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial;
  color: white;
  font-size: 1.5em;
  border: 6px double white;
  padding: 1em;
  width: auto; }
  .forms button {
    align-self: center;
    font-family: Arial;
    font-size: 1em;
    margin: 1em; }
  .forms input {
    width: 18em;
    font-family: Arial;
    font-size: 1em; }

#tableContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  width: 96%; }
  #tableContainer #dataBaseRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #205067;
    color: white;
    font-family: Arial;
    font-size: 1.5em;
    height: 3em;
    margin: 0 0 0.5em 0; }
    #tableContainer #dataBaseRow #dataBaseInfo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 40em;
      margin: 0 0 0 1em; }
      #tableContainer #dataBaseRow #dataBaseInfo div {
        width: 7em; }
    #tableContainer #dataBaseRow #dataButtons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 1em; }
      #tableContainer #dataBaseRow #dataButtons #viewButton, #tableContainer #dataBaseRow #dataButtons #editButton, #tableContainer #dataBaseRow #dataButtons #deleteButton {
        margin: 0 1em 0 0;
        padding: 1px 6px;
        font-family: Arial;
        font-size: 0.8em;
        cursor: pointer;
        text-decoration: none;
        align-items: flex-start;
        text-align: center;
        color: buttontext;
        background-color: buttonface;
        box-sizing: border-box;
        padding: 2px 6px 3px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonface;
        border-image: initial;
        -webkit-appearance: push-button;
        user-select: none;
        white-space: pre; }
        #tableContainer #dataBaseRow #dataButtons #viewButton a, #tableContainer #dataBaseRow #dataButtons #editButton a, #tableContainer #dataBaseRow #dataButtons #deleteButton a {
          text-decoration: none;
          color: black; }

/*# sourceMappingURL=index.css.map */
