/* Index Page and Base html */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

#mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  width: 75%;
  height: auto;
  overflow: auto;
  min-height: 100%;
  margin: auto;
  padding: 0;
  background-color: #003366;
  font-family: Arial;
  color: #FFFFFF;
  /* Search Tab on the main page*/
  /* Transitions */
  /* Dummy blocks */ }
  #mainContainer h1 {
    font-size: 3em;
    padding: 0.5em;
    height: 1em;
    text-align: start; }
  #mainContainer #loginInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 98%;
    margin: 0 0 0;
    padding: 0;
    font-size: 1.5em; }
    #mainContainer #loginInfo a {
      text-decoration: none;
      color: #FFFFFF; }
  #mainContainer .search {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* makes other page elements clickable */ }
  #mainContainer .js .search::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  #mainContainer .btn--search-close {
    font-size: 2em;
    position: absolute;
    color: #FFFFFF;
    top: 1.25em;
    right: 1.25em; }
  #mainContainer .search__form {
    position: relative;
    width: 55%;
    min-width: 400px;
    margin-right: auto;
    margin-left: auto; }
  #mainContainer .search__input {
    font-family: inherit;
    font-size: 4em;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1em 0.15em 0;
    pointer-events: auto;
    color: #FFFFFF;
    border-bottom: 4px solid; }
  #mainContainer .search__input::-webkit-search-cancel-button,
  #mainContainer .search__input::-webkit-search-decoration {
    -webkit-appearance: none; }
  #mainContainer .search__input::-ms-clear {
    display: none; }
  #mainContainer .btn--search {
    font-size: 3em;
    position: absolute;
    right: 0;
    bottom: 0.5em;
    pointer-events: none;
    color: #FFFFFF; }
  #mainContainer .search--open .btn--search {
    pointer-events: auto; }
  #mainContainer .search__suggestion {
    width: 50%;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15em;
    text-align: left;
    pointer-events: none; }
  #mainContainer .search__suggestion:nth-child(2) {
    margin: 0 3em; }
  #mainContainer .search__suggestion h3 {
    font-size: 1.5em;
    margin: 0; }
  #mainContainer .search__suggestion h3::before {
    content: '\21FE';
    display: inline-block;
    padding: 0 0.5em 0 0; }
  #mainContainer .search__suggestion p {
    font-size: 1.25em;
    line-height: 1.4;
    margin: 0.75em 0 0 0;
    color: #FFFFFF; }
  #mainContainer .js .search::before {
    opacity: 0;
    transition: opacity 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  #mainContainer .js .search--open::before {
    opacity: 1; }
  #mainContainer .search--open {
    pointer-events: auto; }
  #mainContainer .search__form {
    transform: scale3d(0.5, 0.5, 1);
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  #mainContainer .search--open .search__form {
    transform: translate3d(0, 35vh, 0) translate3d(0, -75%, 0); }
  #mainContainer .btn--search-close {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  #mainContainer .search--open .btn--search-close {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition-delay: 0.1s; }
  #mainContainer .search__suggestion h3,
  #mainContainer .search__suggestion p {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity 0.2s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  #mainContainer .search--open .search__suggestion h3,
  #mainContainer .search--open .search__suggestion p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  #mainContainer .search--open .search__suggestion p {
    transition-delay: 0.1s; }
  @media screen and (max-width: 40em) {
    #mainContainer .search__form {
      width: 100%;
      padding: 2em 1em 0; }
    #mainContainer .search__input {
      font-size: 2em; }
    #mainContainer .btn--search {
      font-size: 1.25em;
      right: 1em; }
    #mainContainer .btn--search-close {
      font-size: 1.15em; }
    #mainContainer .search__suggestion {
      font-size: 0.85em;
      width: 100%;
      margin-top: 40vh;
      padding: 0 1em; } }
  #mainContainer #findAllTab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: flex-start;
    align-self: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6em;
    width: 90%;
    pointer-events: auto; }
    #mainContainer #findAllTab #allDogs, #mainContainer #findAllTab #allCats {
      width: 6em;
      height: 2em;
      font-size: 3.5em;
      cursor: pointer;
      border-right: none;
      border-left: none;
      border-top: none;
      font-family: Arial; }
    #mainContainer #findAllTab .search_all {
      background-color: rgba(0, 0, 0, 0.2);
      color: #FFFFFF; }

/* Add Animal Page */
#addOption, #seeAllOption {
  align-self: center;
  width: 96%;
  cursor: pointer; }
  #addOption h1, #seeAllOption h1 {
    border-bottom: 3px solid white; }

#addAnimalTable {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width: auto;
  height: auto;
  align-content: stretch;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 1.5em; }
  #addAnimalTable .addAnimalRows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 30em;
    height: auto;
    min-height: 2em;
    margin: 0.5em; }
    #addAnimalTable .addAnimalRows .right {
      width: 14em; }
    #addAnimalTable .addAnimalRows ul {
      list-style: none;
      padding: 0;
      margin: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0; }
      #addAnimalTable .addAnimalRows ul li {
        margin: 0 1em 0 0;
        align-items: center; }
        #addAnimalTable .addAnimalRows ul li input[type="radio"] {
          width: 1em;
          height: 1em;
          color: black;
          display: inline-block;
          cursor: pointer;
          margin: 0; }
    #addAnimalTable .addAnimalRows #id_gender, #addAnimalTable .addAnimalRows #id_surgery, #addAnimalTable .addAnimalRows #id_vaccine {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
    #addAnimalTable .addAnimalRows #submitButton {
      align-self: center;
      height: 2.5em;
      margin-right: auto;
      margin-left: auto;
      margin-top: 2em;
      font-size: 1em;
      cursor: pointer; }
    #addAnimalTable .addAnimalRows input, #addAnimalTable .addAnimalRows select, #addAnimalTable .addAnimalRows textarea {
      font-family: Arial;
      color: black;
      font-size: 0.8em;
      padding: 0.2em; }
    #addAnimalTable .addAnimalRows #id_notes {
      height: 3em;
      width: 18em; }

.headline {
  align-self: center;
  justify-content: center; }

.forms {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial;
  color: white;
  font-size: 1.5em;
  border: 6px double white;
  padding: 1em;
  width: auto; }
  .forms button {
    align-self: center;
    font-family: Arial;
    font-size: 1em;
    margin: 1em; }
  .forms input {
    width: 18em;
    font-family: Arial;
    font-size: 1em; }

#tableContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  width: 96%; }
  #tableContainer #dataBaseRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Arial;
    font-size: 1.5em;
    height: 3em;
    margin: 0 0 0.5em 0; }
    #tableContainer #dataBaseRow:hover {
      background-color: #004d99; }
    #tableContainer #dataBaseRow #dataBaseInfo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 40em;
      margin: 0 0 0 1em; }
      #tableContainer #dataBaseRow #dataBaseInfo div {
        width: 7em; }
      #tableContainer #dataBaseRow #dataBaseInfo #locationRow {
        width: 15em; }
    #tableContainer #dataBaseRow #dataButtons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 1em; }
    #tableContainer #dataBaseRow .dbButton {
      margin: 0 1em 0 0;
      font-family: Arial;
      color: black;
      font-size: 0.8em;
      cursor: pointer;
      text-decoration: none;
      align-items: flex-start;
      text-align: center;
      background-color: buttonface;
      box-sizing: border-box;
      padding: 2px 6px 3px;
      border-width: 2px;
      border-style: outset;
      border-color: buttonface;
      border-image: initial;
      -webkit-appearance: push-button;
      user-select: none;
      white-space: pre; }
      #tableContainer #dataBaseRow .dbButton input, #tableContainer #dataBaseRow .dbButton a {
        text-decoration: none;
        color: black; }
  #tableContainer .deleteEntry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0;
    background-color: #003366;
    color: white;
    font-family: Arial;
    font-size: 1.5em; }
    #tableContainer .deleteEntry input {
      margin: 0 1em 0 0;
      font-family: Arial;
      font-size: 0.8em;
      cursor: pointer; }
    #tableContainer .deleteEntry p {
      margin: 0 1em 0 0;
      font-size: 1em; }
    #tableContainer .deleteEntry div {
      margin: 0 1em 0 0;
      font-size: 1em;
      cursor: pointer; }

.infoText {
  font-size: 1.5em;
  margin: 2em 0 0 1em; }
  .infoText a {
    text-decoration: none;
    color: white; }

/* Search Results Page */
#searchResultsBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  margin: 0;
  padding: 1em;
  color: white;
  font-family: Arial;
  font-size: 1.5em; }
  #searchResultsBlock #searchTools {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 6em;
    width: 100%;
    margin: 0 1em 0 1em; }
    #searchResultsBlock #searchTools #searchBar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 1em 0; }
      #searchResultsBlock #searchTools #searchBar #previousSearch {
        width: 20em;
        color: black; }
      #searchResultsBlock #searchTools #searchBar input {
        font-family: Arial;
        font-size: 1em;
        cursor: pointer; }
      #searchResultsBlock #searchTools #searchBar #showDogs {
        margin-left: 1em; }
    #searchResultsBlock #searchTools #searchFilters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0 0 0; }
      #searchResultsBlock #searchTools #searchFilters #filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 0 6em; }
        #searchResultsBlock #searchTools #searchFilters #filters select {
          margin-left: 1em;
          font-family: Arial;
          font-size: 0.8em; }
  #searchResultsBlock #profilePreview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    margin: 0 0 1em 1em;
    background-color: rgba(0, 0, 0, 0.2);
    width: 18%;
    height: auto;
    min-height: 16em;
    cursor: pointer; }
    #searchResultsBlock #profilePreview:hover {
      background-color: #004d99; }
    #searchResultsBlock #profilePreview a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 0.9em; }
    #searchResultsBlock #profilePreview img {
      align-self: center;
      margin: 1em 0 1em 0;
      padding: 0;
      height: 9em;
      width: 9em;
      background-color: #FFFFFF;
      object-fit: cover; }
    #searchResultsBlock #profilePreview #previewDescription {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 0.5em 1em 0.5em; }

/* Profile Pages */
.slides {
  width: 70em;
  height: auto;
  margin: 2em auto 0 auto; }
  .slides ul {
    list-style: inside none disc;
    margin: 0;
    padding: 0; }
  .slides img {
    max-height: 35em;
    max-width: 35em; }

#profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 82em;
  height: auto;
  margin: 2em auto;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.2); }
  #profile #profileBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 45%;
    height: auto;
    margin: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3%; }
    #profile #profileBox .profileRow {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      min-height: 3em;
      justify-content: space-between;
      margin: 0; }
      #profile #profileBox .profileRow .left {
        align-self: center;
        justify-content: center;
        font-family: Arial;
        font-size: 1.5em;
        width: 50%; }
      #profile #profileBox .profileRow .right {
        align-self: center;
        font-family: Arial;
        font-size: 1.5em;
        width: 50%; }
  #profile #personalityBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 52%;
    height: auto;
    margin: 0;
    padding: 0; }
    #profile #personalityBox #socialMedia {
      width: 100%;
      height: 5em;
      padding: 0.5em; }
      #profile #personalityBox #socialMedia .social {
        width: 10em;
        margin-top: 1em;
        margin-left: 0.4em;
        border-radius: 3%; }
    #profile #personalityBox #personalityProfile {
      margin-top: 4em;
      height: auto;
      padding: 1em; }
      #profile #personalityBox #personalityProfile .profileRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin: 0 0 4em 0; }
        #profile #personalityBox #personalityProfile .profileRow .left {
          align-self: flex-start;
          font-family: Arial;
          font-size: 1.5em;
          width: 25%; }
        #profile #personalityBox #personalityProfile .profileRow .right {
          align-self: center;
          text-align: left;
          font-family: Arial;
          font-size: 1.5em;
          width: 75%; }
        #profile #personalityBox #personalityProfile .profileRow .tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start; }
        #profile #personalityBox #personalityProfile .profileRow .tag {
          background-color: rgba(0, 0, 0, 0.5);
          margin: 0 0 0.1em 0.1em;
          padding: 0.5em;
          width: auto;
          cursor: pointer;
          font-size: 0.8em; }
          #profile #personalityBox #personalityProfile .profileRow .tag:hover {
            background-color: #004d99; }
    #profile #personalityBox #contactButtons {
      align-self: center;
      justify-content: center;
      margin: auto;
      width: 100%;
      height: 3em; }
      #profile #personalityBox #contactButtons .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 3em;
        background-color: rgba(0, 0, 0, 0.5);
        width: 15em;
        margin: 0.5em auto;
        font-size: 1.5em; }

/*# sourceMappingURL=index.css.map */
