body, html {
  margin:0;
  padding:0;
  height:100%;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  width: 75%;
  height: auto;
  min-height: 100%;
  margin: auto;
  padding: 0;
  background-color: #003366;
  font-family: Arial;
  color: white;
  h1 {
    font-size: 3em;
    color: white;
    padding: 0.5em;
    height: 1em;
    text-align: start;
  }
  #loginInfo {
    //background-color: saddlebrown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 98%;
    margin: 0 0 0;
    padding: 0;
    font-family: Arial;
    color: white;
    font-size: 1.5em;
    a {
      text-decoration: none;
      color: white;
    }
  }
  #searchTab {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    margin: auto;
    padding: 0;
    width: 55em;
    height: 20em;
    background-color: white;
    #searchEngine {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 85%;
      height: 50%;
      align-content: stretch;
      align-items: center;
      align-self: center;
      justify-content: center;
      margin: 0;
      #searchField {
        margin: 0;
        width: 25em;
        height: 3em;
        font-size: 1.5em;
      }
      #findButton {
        margin: 0;
        width: 5em;
        height: 3em;
        font-size: 1.5em;
      }
    }
    #findAllTab {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: flex-start;
      align-self: center;
      justify-content: center;
      margin: 0;
      width: 85%;
      height: 50%;
      #allDogs {
        width: 10em;
        height: 3em;
        font-size: 1.5em;
      }
      #allCats {
        width: 10em;
        height: 3em;
        font-size: 1.5em;
      }
    }
  }
}

#addOption, #seeAllOption {
  align-self: center;
  width:96%;
  cursor: pointer;
  h1 {
    //background-color: #447e9b;
    border-bottom: 3px solid white;
  }
}

#addAnimalTable {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width:auto;
  height: auto;
  align-content: stretch;
  font-family: Arial;
  color:white;
  font-size: 1.5em;
  .addAnimalRows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 30em;
    height: auto;
    min-height: 2em;
    margin: 0.5em;
    .right {
      width: 14em;
    }
    ul {
      list-style: none;
      padding:0;
      margin:0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0;
      li {
        margin: 0 1em 0 0;
        align-items: center;
        input[type="radio"]  {
          width: 1em;
          height:1em;
          color: black;
          display: inline-block;
          cursor: pointer;
          margin:0;
        }
      }
    }
    #id_gender, #id_surgery, #id_vaccine {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    #submitButton {
      align-self: center;
      height: 2.5em;
      margin-right: auto;
      margin-left:auto;
      margin-top: 2em;
      font-size: 1em;
      cursor: pointer;
    }
    input, select, textarea {
      font-family: Arial;
      color:black;
      font-size: 0.8em;
      padding: 0.2em;
    }
    #id_notes {
      height: 3em;
      width:18em;
    }
  }
}

.headline {
  align-self: center;
  justify-content:center;
}

.forms {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content:center;
  align-items: flex-start;
  font-family: Arial;
  color:white;
  font-size: 1.5em;
  border: 6px double white;
  padding: 1em;
  width: auto;
  button {
    align-self: center;
    font-family: Arial;
    font-size: 1em;
    margin: 1em;
  }
  input {
    width: 18em;
    font-family: Arial;
    font-size: 1em;
  }
}

#tableContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  width: 96%;
  #dataBaseRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #205067;
    color: white;
    font-family: Arial;
    font-size: 1.5em;
    height: 3em;
    margin: 0 0 0.5em 0;
    #dataBaseInfo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 40em;
      margin: 0 0 0 1em;
      div {
        width: 7em;
      }
    }
    #dataButtons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 1em;
    }

    .dbButton {
      margin: 0 1em 0 0;
      font-family: Arial;
      color: black;
      font-size: 0.8em;
      cursor: pointer;
      text-decoration: none;
      align-items: flex-start;
      text-align: center;
      background-color: buttonface;
      box-sizing: border-box;
      padding: 2px 6px 3px;
      border-width: 2px;
      border-style: outset;
      border-color: buttonface;
      border-image: initial;
      -webkit-appearance: push-button;
      user-select: none;
      white-space: pre;
      input, a {
        text-decoration: none;
        color: black;
      }
    }
  }
 .deleteEntry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0;
    background-color: #003366;
    color: white;
    font-family: Arial;
    font-size: 1.5em;
    input {
      margin: 0 1em 0 0;
      font-family: Arial;
      font-size: 0.8em;
      cursor: pointer;
    }
    p {
      margin: 0 1em 0 0;
      font-size: 1em;
    }
    div {
      margin: 0 1em 0 0;
      font-size: 1em;
      cursor: pointer;
    }
  }
}

.infoText {
  font-size: 1.5em;
  margin: 2em 0 0 1em;
  a {
    text-decoration: none;
    color: white;
  }
}