body, html {
  margin:0;
  padding:0;
  height:100%;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  width: 75%;
  height: auto;
  min-height: 100%;
  margin: auto;
  padding: 0;
  background-color: #003366;
  font-family: Arial;
  h1 {
    font-size: 3em;
    color: white;
    padding: 1em;
  }
  #loginInfo {
    //background-color: saddlebrown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 98%;
    margin: 0 0 0;
    padding: 0;
    font-family: Arial;
    color: white;
    font-size: 1.5em;
    a {
      text-decoration: none;
      color: white;
    }
  }
  #searchTab {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    margin: 1em;
    padding: 0;
    width: 55em;
    height: 20em;
    background-color: white;
    #searchEngine {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 85%;
      height: 50%;
      align-content: stretch;
      align-items: center;
      align-self: center;
      justify-content: center;
      margin: 0;
      #searchField {
        margin: 0;
        width: 25em;
        height: 3em;
        font-size: 1.5em;
      }
      #findButton {
        margin: 0;
        width: 5em;
        height: 3em;
        font-size: 1.5em;
      }
    }
    #findAllTab {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: flex-start;
      align-self: center;
      justify-content: center;
      margin: 0;
      width: 85%;
      height: 50%;
      #allDogs {
        width: 10em;
        height: 3em;
        font-size: 1.5em;
      }
      #allCats {
        width: 10em;
        height: 3em;
        font-size: 1.5em;
      }
    }
  }
}

#addAnimal {
  //background-color: yellow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content:center;
  font-family: Arial;
  color:white;
  font-size: 1.5em;
  margin-left: 25%;
  select, input {
      color: black;
      font-family: Arial;
      font-size: 1em;
  }
}

.headline {
  align-self: center;
  justify-content:center;
}

.forms {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content:center;
  align-items: flex-start;
  font-family: Arial;
  color:white;
  font-size: 1.5em;
  border: 6px double white;
  padding: 1em;
  width: auto;
  button {
    align-self: center;
    font-family: Arial;
    font-size: 1em;
    margin: 1em;
  }
  input {
    width: 18em;
    font-family: Arial;
    font-size: 1em;
  }
}