body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

#mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  width: 75%;
  height: auto;
  min-height: 100%;
  margin: auto;
  padding: 0;
  background-color: #003366;
  font-family: Arial;
  color: #FFFFFF; }
  #mainContainer h1 {
    font-size: 3em;
    color: white;
    padding: 0.5em;
    height: 1em;
    text-align: start; }
  #mainContainer #loginInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 98%;
    margin: 0 0 0;
    padding: 0;
    font-family: Arial;
    color: white;
    font-size: 1.5em; }
    #mainContainer #loginInfo a {
      text-decoration: none;
      color: white; }
  #mainContainer #searchTab {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    padding: 0;
    width: 55em;
    height: 20em; }
    #mainContainer #searchTab #searchEngine {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 85%;
      height: 50%;
      align-content: stretch;
      align-items: center;
      align-self: center;
      justify-content: center;
      margin: 0; }
      #mainContainer #searchTab #searchEngine #searchField {
        margin: 0;
        width: 25em;
        height: 3em;
        font-size: 1.5em; }
      #mainContainer #searchTab #searchEngine #findButton {
        margin: 0;
        width: 5em;
        height: 3em;
        font-size: 1.5em; }
    #mainContainer #searchTab #findAllTab {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: flex-start;
      align-self: center;
      justify-content: center;
      margin: 0;
      width: 85%;
      height: 50%; }
      #mainContainer #searchTab #findAllTab #allDogs {
        width: 10em;
        height: 3em;
        font-size: 1.5em; }
      #mainContainer #searchTab #findAllTab #allCats {
        width: 10em;
        height: 3em;
        font-size: 1.5em; }

#addOption, #seeAllOption {
  align-self: center;
  width: 96%;
  cursor: pointer; }
  #addOption h1, #seeAllOption h1 {
    border-bottom: 3px solid white; }

#addAnimalTable {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width: auto;
  height: auto;
  align-content: stretch;
  font-family: Arial;
  color: white;
  font-size: 1.5em; }
  #addAnimalTable .addAnimalRows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 30em;
    height: auto;
    min-height: 2em;
    margin: 0.5em; }
    #addAnimalTable .addAnimalRows .right {
      width: 14em; }
    #addAnimalTable .addAnimalRows ul {
      list-style: none;
      padding: 0;
      margin: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0; }
      #addAnimalTable .addAnimalRows ul li {
        margin: 0 1em 0 0;
        align-items: center; }
        #addAnimalTable .addAnimalRows ul li input[type="radio"] {
          width: 1em;
          height: 1em;
          color: black;
          display: inline-block;
          cursor: pointer;
          margin: 0; }
    #addAnimalTable .addAnimalRows #id_gender, #addAnimalTable .addAnimalRows #id_surgery, #addAnimalTable .addAnimalRows #id_vaccine {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
    #addAnimalTable .addAnimalRows #submitButton {
      align-self: center;
      height: 2.5em;
      margin-right: auto;
      margin-left: auto;
      margin-top: 2em;
      font-size: 1em;
      cursor: pointer; }
    #addAnimalTable .addAnimalRows input, #addAnimalTable .addAnimalRows select, #addAnimalTable .addAnimalRows textarea {
      font-family: Arial;
      color: black;
      font-size: 0.8em;
      padding: 0.2em; }
    #addAnimalTable .addAnimalRows #id_notes {
      height: 3em;
      width: 18em; }

.headline {
  align-self: center;
  justify-content: center; }

.forms {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial;
  color: white;
  font-size: 1.5em;
  border: 6px double white;
  padding: 1em;
  width: auto; }
  .forms button {
    align-self: center;
    font-family: Arial;
    font-size: 1em;
    margin: 1em; }
  .forms input {
    width: 18em;
    font-family: Arial;
    font-size: 1em; }

#tableContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  width: 96%; }
  #tableContainer #dataBaseRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #205067;
    color: white;
    font-family: Arial;
    font-size: 1.5em;
    height: 3em;
    margin: 0 0 0.5em 0; }
    #tableContainer #dataBaseRow #dataBaseInfo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 40em;
      margin: 0 0 0 1em; }
      #tableContainer #dataBaseRow #dataBaseInfo div {
        width: 7em; }
      #tableContainer #dataBaseRow #dataBaseInfo #locationRow {
        width: 15em; }
    #tableContainer #dataBaseRow #dataButtons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 1em; }
    #tableContainer #dataBaseRow .dbButton {
      margin: 0 1em 0 0;
      font-family: Arial;
      color: black;
      font-size: 0.8em;
      cursor: pointer;
      text-decoration: none;
      align-items: flex-start;
      text-align: center;
      background-color: buttonface;
      box-sizing: border-box;
      padding: 2px 6px 3px;
      border-width: 2px;
      border-style: outset;
      border-color: buttonface;
      border-image: initial;
      -webkit-appearance: push-button;
      user-select: none;
      white-space: pre; }
      #tableContainer #dataBaseRow .dbButton input, #tableContainer #dataBaseRow .dbButton a {
        text-decoration: none;
        color: black; }
  #tableContainer .deleteEntry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0;
    background-color: #003366;
    color: white;
    font-family: Arial;
    font-size: 1.5em; }
    #tableContainer .deleteEntry input {
      margin: 0 1em 0 0;
      font-family: Arial;
      font-size: 0.8em;
      cursor: pointer; }
    #tableContainer .deleteEntry p {
      margin: 0 1em 0 0;
      font-size: 1em; }
    #tableContainer .deleteEntry div {
      margin: 0 1em 0 0;
      font-size: 1em;
      cursor: pointer; }

.infoText {
  font-size: 1.5em;
  margin: 2em 0 0 1em; }
  .infoText a {
    text-decoration: none;
    color: white; }

#searchResultsBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  margin: 0;
  padding: 1em;
  color: white;
  font-family: Arial;
  font-size: 1.5em; }
  #searchResultsBlock #searchTools {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 6em;
    width: 100%;
    margin: 0 1em 0 1em; }
    #searchResultsBlock #searchTools #searchBar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 1em 0; }
      #searchResultsBlock #searchTools #searchBar #previousSearch {
        width: 20em;
        color: black; }
      #searchResultsBlock #searchTools #searchBar input {
        font-family: Arial;
        font-size: 1em; }
      #searchResultsBlock #searchTools #searchBar #showDogs {
        margin-left: 1em; }
    #searchResultsBlock #searchTools #searchFilters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0 0 0; }
  #searchResultsBlock #profilePreview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    margin: 0 0 1em 1em;
    background-color: #5D8896;
    width: 18%;
    height: auto;
    min-height: 18em; }
    #searchResultsBlock #profilePreview #img {
      align-self: center;
      margin: 1em 0 1em 0;
      padding: 0;
      height: 8em;
      width: 8em;
      background-color: white; }
    #searchResultsBlock #profilePreview #previewDescription {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 0.5em 1em 0.5em; }

.slides {
  width: 75em;
  height: auto;
  margin: 2em auto 2em auto; }
  .slides ul {
    list-style: inside none disc;
    margin: 0;
    padding: 0; }
  .slides img {
    max-height: 35em;
    max-width: 35em; }

.search {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* makes other page elements clickable */ }

.btn--search-close {
  font-size: 2em;
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  display: none; }

.js .btn--search-close {
  display: block; }

.search__form {
  background-color: #993333;
  position: relative;
  width: 50%;
  min-width: 300px;
  margin: 5em auto auto auto; }

.search__input {
  font-family: inherit;
  font-size: 5em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1em 0.15em 0;
  pointer-events: auto;
  color: #ffefb9;
  border-bottom: 4px solid; }

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
  -webkit-appearance: none; }

.search__input::-ms-clear {
  display: none; }

.btn--search {
  width: 3em;
  font-size: 3em;
  position: absolute;
  right: 0;
  bottom: 0.5em;
  pointer-events: none;
  color: #e8db82; }

.search--open .btn--search {
  pointer-events: auto; }

.search__suggestion {
  width: 50%;
  max-width: 450px;
  margin: calc(40vh + 2em) auto 0;
  text-align: left;
  pointer-events: none; }

.search__suggestion:nth-child(2) {
  margin: 0 3em; }

.search__suggestion h3 {
  font-size: 1.5em;
  margin: 0; }

.search__suggestion h3::before {
  content: '\21FE';
  display: inline-block;
  padding: 0 0.5em 0 0; }

.search__suggestion p {
  font-size: 1.25em;
  line-height: 1.4;
  margin: 0.75em 0 0 0;
  color: #e85454; }

/************************/
/* Transitions 			*/
/************************/
.js .search::before {
  opacity: 0;
  transition: opacity 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.js .search--open::before {
  opacity: 1; }

.search--open {
  pointer-events: auto; }

.search__form {
  transform: scale3d(0.5, 0.5, 1);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.search--open .search__form {
  transform: translate3d(0, 40vh, 0) translate3d(0, -50%, 0); }

.btn--search-close {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
  transition: opacity 0.5s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.search--open .btn--search-close {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition-delay: 0.1s; }

/* Dummy blocks */
.search__suggestion h3,
.search__suggestion p {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: opacity 0.2s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.search--open .search__suggestion h3,
.search--open .search__suggestion p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.search--open .search__suggestion p {
  transition-delay: 0.1s; }

@media screen and (max-width: 40em) {
  .search__form {
    width: 100%;
    padding: 2em 1em 0; }

  .search__input {
    font-size: 2em; }

  .btn--search {
    font-size: 1.25em;
    right: 1em; }

  .btn--search-close {
    font-size: 1.15em; }

  .search__suggestion {
    font-size: 1em;
    width: 100%;
    margin-top: 40vh;
    padding: 0 1em; } }

/*# sourceMappingURL=index.css.map */
