$color0: #555756;
$color1: #003366;
$color2: #FFFFFF;
$color3: rgba(0, 0, 0, 0.2);
$color4: rgba(0, 0, 0, 0.5);


/* Index Page and Base html */

body, html {
  margin:0;
  padding:0;
  height:100%;
  background-color:$color0;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  width: 75%;
  height: auto;
  overflow: auto;
  min-height: 100%;
  margin: auto;
  padding: 0;
  background-color: $color1;
  font-family: Arial;
  color: $color2;
  h1 {
    font-size: 3em;
    padding: 0.5em;
    height: 1em;
    text-align: start;
  }
  #loginInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 98%;
    margin: 0 0 0;
    padding: 0;
    font-size: 1.5em;
    a {
      text-decoration: none;
      color: $color2;
    }
  }

  /* Search Tab on the main page*/

  .search {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* makes other page elements clickable */
  }

  .js .search::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .btn--search-close {
    font-size: 2em;
    position: absolute;
    color: $color2;
    top: 1.25em;
    right: 1.25em;
  }

  .search__form {
    position: relative;
    width: 55%;
    min-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  .search__input {
    font-family: inherit;
    font-size: 4em;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1em 0.15em 0;
    pointer-events: auto;
    color: $color2;
    border-bottom: 4px solid;
  }

  .search__input::-webkit-search-cancel-button,
  .search__input::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  .search__input::-ms-clear {
    display: none;
  }

  .btn--search {
    font-size: 3em;
    position: absolute;
    right: 0;
    bottom: 0.5em;
    pointer-events: none;
    color: $color2;
  }

  .search--open .btn--search {
    pointer-events: auto;
  }

  .search__suggestion {
    width: 50%;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15em;
    text-align: left;
    pointer-events: none;
  }

  .search__suggestion:nth-child(2) {
    margin: 0 3em;
  }

  .search__suggestion h3 {
    font-size: 1.5em;
    margin: 0;
  }

  .search__suggestion h3::before {
    content: '\21FE';
    display: inline-block;
    padding: 0 0.5em 0 0;
  }

  .search__suggestion p {
    font-size: 1.25em;
    line-height: 1.4;
    margin: 0.75em 0 0 0;
    color: $color2;
  }

  /* Transitions */

  .js .search::before {
    opacity: 0;
    transition: opacity 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

  .js .search--open::before {
    opacity: 1;
  }

  .search--open {
    pointer-events: auto;
  }

  .search__form {
    transform: scale3d(0.5, 0.5, 1);
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

  .search--open .search__form {
    transform: translate3d(0, 35vh, 0) translate3d(0, -75%, 0);
  }

  .btn--search-close {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

  .search--open .btn--search-close {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition-delay: 0.1s;
  }

  /* Dummy blocks */
  .search__suggestion h3,
  .search__suggestion p {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity 0.2s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

  .search--open .search__suggestion h3,
  .search--open .search__suggestion p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

  .search--open .search__suggestion p {
    transition-delay: 0.1s;
  }

  @media screen and (max-width: 40em) {
    .search__form {
      width: 100%;
      padding: 2em 1em 0;
    }
    .search__input {
      font-size: 2em;
    }
    .btn--search {
      font-size: 1.25em;
      right: 1em;
    }
    .btn--search-close {
      font-size: 1.15em;
    }
    .search__suggestion {
      font-size: 0.85em;
      width: 100%;
      margin-top: 40vh;
      padding: 0 1em;
    }
  }

  #findAllTab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: flex-start;
    align-self: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6em;
    width: 90%;
    pointer-events: auto;
    #allDogs, #allCats {
      width: 6em;
      height: 2em;
      font-size: 3.5em;
      cursor: pointer;
      border-right: none;
      border-left: none;
      border-top: none;
      font-family: Arial;
    }
    .search_all {
      background-color: $color3;
      color: $color2;
    }
  }
}

/* Add Animal Page */

#addOption, #seeAllOption {
  align-self: center;
  width:96%;
  cursor: pointer;
  h1 {
    //background-color: #447e9b;
    border-bottom: 3px solid white;
  }
}

#addAnimalTable {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width:auto;
  height: auto;
  align-content: stretch;
  font-family: Arial;
  color: $color2;
  font-size: 1.5em;
  .addAnimalRows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 40em;
    height: auto;
    min-height: 2em;
    margin: 0.5em;
    .right {
      width: 25em;
    }
    ul {
      list-style: none;
      padding:0;
      margin:0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0;
      li {
        margin: 0 1em 0 0;
        align-items: center;
        input[type="radio"]  {
          width: 1em;
          height:1em;
          color: black;
          display: inline-block;
          cursor: pointer;
          margin:0;
        }
      }
    }
    .two-columns {
      -moz-column-count: 2; /* Firefox */
      -webkit-column-count: 2; /* Safari and Chrome */
      column-count: 2;
      margin: 1em 0;
      li, div {
        width: 15em;
      }
    }
    #id_gender, #id_surgery, #id_vaccine {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    #submitButton {
      align-self: center;
      height: 2.5em;
      width: 8em;
      margin-right: auto;
      margin-left:auto;
      margin-top: 2em;
      font-size: 1em;
      cursor: pointer;
      background-color: $color3;
      color: $color2;
      &:hover {
        background-color: $color4;
        border: 5px solid $color2;
      }
    }
    input, select, textarea {
      font-family: Arial;
      color:black;
      font-size: 0.8em;
      padding: 0.2em;
      background-color: #bbccdd;
    }
    #id_notes {
      height: 3em;
      width:31em;
    }
    #id_img, #id_name, #id_id_number {
      width: 31em;
    }
    #id_species, #id_location, #id_status, #id_dog_breed, #id_size, #id_weight, #id_cat_breed, #id_cat_color {
      width: 14.2em;
    }
  }
}

.headline {
  align-self: center;
  justify-content:center;
}

.forms {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content:center;
  align-items: flex-start;
  font-family: Arial;
  color:white;
  font-size: 1.5em;
  border: 6px double white;
  padding: 1em;
  width: auto;
  button {
    align-self: center;
    font-family: Arial;
    font-size: 1em;
    margin: 1em;
  }
  input {
    width: 18em;
    font-family: Arial;
    font-size: 1em;
  }
}

#tableContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  width: 96%;
  color: $color2;
  font-family: Arial;

  .messages {
    align-self: center;
    font-size: 1.5em;
    margin: 1em auto;
    padding: 1em;
    color: #52D017;
  }

  #dbfilters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin: 0 0 1em 0;
    select {
      font-size: 0.8em;
      margin-left: 0.5em;
    }
  }

  #dataBaseRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $color3;
    font-size: 1.5em;
    height: 3em;
    margin: 0 0 0.5em 0;
    &:hover {
      background-color: lighten($color1, 10%);
    }
    #dataBaseInfo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 40em;
      margin: 0 0 0 1em;
      div {
        width: 9em;
      }
      #locationRow {
        width: 13em;
      }
    }

    #dataButtons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: auto;
      margin-left: 1em;
    }

    .dbButton {
      margin: 0 1em 0 0;
      font-family: Arial;
      width: 4em;
      height: 1.5em;
      color: black;
      font-size: 0.8em;
      cursor: pointer;
      text-decoration: none;
      align-items: flex-start;
      text-align: center;
      background-color: buttonface;
      box-sizing: border-box;
      border-width: 2px;
      border-style: outset;
      border-color: buttonface;
      border-image: initial;
      -webkit-appearance: push-button;
      user-select: none;
      white-space: pre;
      input, a {
        text-decoration: none;
        color: black;
      }
    }
  }

 .deleteEntry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0;
    background-color: #003366;
    color: white;
    font-family: Arial;
    font-size: 1.5em;
    input {
      margin: 0 1em 0 0;
      font-family: Arial;
      font-size: 0.8em;
      cursor: pointer;
    }
    p {
      margin: 0 1em 0 0;
      font-size: 1em;
    }
    div {
      margin: 0 1em 0 0;
      font-size: 1em;
      cursor: pointer;
    }
  }
}

.infoText {
  font-size: 1.5em;
  margin: 2em 0 0 1em;
  a {
    text-decoration: none;
    color: white;
  }
}

/* Search Results Page */

#searchResultsBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height:auto;
  margin: 0;
  padding: 1em;
  color: white;
  font-family: Arial;
  font-size: 1.5em;
  #searchTools {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 6em;
    width: 100%;
    margin: 0 1em 0 1em;
    #searchBar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 1em 0;
      #previousSearch {
        width: 20em;
        color: black;
      }
      input {
        font-family: Arial;
        font-size: 1em;
        cursor: pointer;
      }
      #showDogs {
        margin-left: 1em;
      }
    }
    #searchFilters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0 0 0;
      #filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 0 6em;
        select {
          margin-left: 1em;
          font-family: Arial;
          font-size: 0.8em;
        }
      }
    }
  }
  #profilePreview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    margin:0 0 1em 1em;
    background-color: $color3;
    width: 18%;
    height: auto;
    min-height: 16em;
    cursor: pointer;
    &:hover {
      background-color: lighten($color1, 10%);
    }
    a {
      text-decoration: none;
      color: $color2;
      font-size: 0.9em;
    }
    img {
      align-self: center;
      margin:1em 0 1em 0;
      padding: 0;
      height: 9em;
      width: 9em;
      background-color: $color2;
      object-fit: cover;
    }

    #previewDescription {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 0.5em 1em 0.5em;
    }
  }
}

/* Profile Pages */

.messages {
    align-self: center;
    font-size: 1.5em;
    margin: 1em auto;
    padding: 1em;
    color: #52D017;
}

@keyframes pulse {
  100% {
    transform: perspective(0.8em) translateZ(0.3em);
  }
}

.slides {
  width: 70em;
  height: auto;
  margin: 2em auto 0 auto;
  ul {
    list-style: inside none disc;
    margin: 0;
    padding: 0;
  }
  img {
    max-height: 35em;
    max-width: 35em;
  }
}

#profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 82em;
  margin: 2em auto;
  padding: 2em;
  background-color: $color3;

  #profileBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 45%;
    height: auto;
    margin: 0;
    padding: 1em;
    background-color: $color3;
    border-radius: 3%;
    .profileRow {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      min-height: 3em;
      justify-content: space-between;
      margin: 0;
      .left {
        align-self: center;
        justify-content: center;
        font-family: Arial;
        font-size: 1.5em;
        width: 50%;
      }
      .right {
        align-self: center;
        font-family: Arial;
        font-size: 1.5em;
        width: 50%;
      }
    }
  }

  #personalityBox {
    //background-color: blueviolet;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    width: 52%;
    margin: 0 auto;
    padding-left: 0;
    #socialMedia {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      height: 5em;
      padding: 0.5em;
      .social {
        width: 10em;
        margin-top: 1em;
        margin-left: 0.4em;
        border-radius: 3%;
      }
    }
    #personalityProfile {
      //background-color: green;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      height: auto;
      width: 42em;
      padding-left: 1em;
      .profileRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin: 0 0 2em 0;
        .left {
          align-self: flex-start;
          font-family: Arial;
          font-size: 1.5em;
          width: 25%;
        }
        .right {
          align-self: center;
          text-align: left;
          font-family: Arial;
          font-size: 1.5em;
          width: 75%;
        }
        .tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
        }
        .tag {
          background-color: $color4;
          margin: 0 0 0.1em 0.1em;
          padding: 0.5em;
          width: auto;
          cursor: pointer;
          font-size: 0.8em;
          color: $color2;
          border: none;
          &:hover {
            background-color: lighten($color1, 10%);
          }
        }
      }
    }
    #contactButtons {
      //background-color: #CC3434;
      align-self: center;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      height: auto;
      padding: 0;
      cursor: pointer;
      #ask:hover {
        .contactIcon {
          animation: pulse 0.5s ease-in-out forwards infinite;
        }
      }
      #donation:hover {
        .contactIcon {
          animation: pulse 0.5s ease-in-out forwards infinite;
        }
      }
      .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 3em;
        background-color: $color4;
        width: 15em;
        margin: 0.5em auto;
        font-size: 1.5em;
      }
      .contactIcon {
        width: 1em;
        margin-left: 0.8em;
        padding: 0;
      }
    }
  }
}