body {
    background-color: lightblue;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: darkseagreen;
    font-family: "Tlwg Typist";
    font-size: 1.5em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: darkslategray;

}

section {
    display:flex;
}

.banner {
    flex-direction: row;
	margin-top:10px;
    text-align: center;
}

.banner >div {
    width: 63%;
}

.img-circle {
    border-radius: 50%;
    width:20%;
    border:5px solid white;

}

.bio {
    text-align: justify;
    width:65%;
}

h3 {
    text-align: center;
}

.skills {
}

.projects {
}

