@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
    margin: 0;
    padding: 0;
    background-color: #f78645;
    font: Aerial;
}

#game {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#header {
    position: relative;
    display:flex;
    justify-content: center;
    font-family: "Gloria Hallelujah";
    font-size: 50pt;
    text-shadow: 5px 5px red;
}

@media only screen and (max-width: 800px) {
  #header {
    font-size: 25pt;
  }
}

@media only screen and (max-width: 600px) {
  #header {
    font-size: 20pt;
  }
}

#poster {
    display: block;
    margin: 6vh auto;
    border: 20px solid white;
    height: 50vh;
    width: auto;
}

@media only screen and (max-width: 800px) {
  #poster {
    height: 25vh;
  }
}

#welcome {
    color:red;
    position: relative;
    display:flex;
    justify-content: center;
    font-size: 50pt;
    margin-bottom: 200px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #welcome {
    font-size: 25pt;
  }
}

@media only screen and (max-width: 600px) {
  #welcome {
    font-size: 20pt;
  }
}

#round {
    font-family: "Gloria Hallelujah";
    font-size: 35pt;
    text-shadow: 5px 5px red;
    margin-top: 170px;
    margin-bottom:-20px;
}

@media only screen and (max-width: 800px) {
  #round {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  #round {
    margin-top: 25px;
    font-size: 20pt;
  }
}

#dies {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
}

@keyframes shaking {
    0% {
        transform: rotate(3deg);
    }
    25% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

#die1, #die2 {
    float: left;
    flex-direction: row;
    margin: 100px;
    border: 5px solid transparent;
    cursor: pointer;
    animation: shaking 3s infinite alternate;
}

@media only screen and (max-width: 800px) {
  #die1, #die2 {
    margin: 50px;
  }
}

@media only screen and (max-width: 600px) {
  #die1, #die2 {
    margin: 40px 20px 20px 20px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}

#message {
    margin-top: -80px;
    font-family: "Gloria Hallelujah";
    font-size: 25pt;
}

@media only screen and (max-width: 800px) {
  #message {
    font-size: 15pt;
  }
}

@media only screen and (max-width: 600px) {
  #message {
    font-size: 10pt;
  }
}

#roll {
    margin:100px;
    height:100px;
    width:300px;
    font-family: "Gloria Hallelujah";
    text-shadow: 2px 2px red;
    font-size: 35pt;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #roll {
    font-size: 15pt;
    height: 70px;
    width: 200px;
    margin: 50px;
  }
}

@media only screen and (max-width: 600px) {
  #roll {
    font-size: 15pt;
    height: 50px;
    width: 100px;
    margin: 15px;
    font-size: 10pt;
  }
}

#reset {
    margin:100px;
    height:100px;
    width:300px;
    font-family: "Gloria Hallelujah";
    font-size: 35pt;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #reset {
    font-size: 15pt;
    height: 70px;
    width: 200px;
    margin: 50px;
  }
}

@media only screen and (max-width: 600px) {
  #reset {
    font-size: 15pt;
    height: 50px;
    width: 150px;
    margin: 15px;
    font-size: 10pt;
  }
}
