@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css";
@keyframes arrow {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.3; } }
@keyframes shaking {
  0% {
    transform: rotate(3deg); }
  25% {
    transform: rotate(-6deg); }
  50% {
    transform: rotate(6deg); }
  100% {
    transform: rotate(-3deg); } }
@keyframes dottedborder {
  0% {
    border: 10px #fff2b9 dotted; }
  25% {
    border: 5px solid #fff2b9; }
  50% {
    border: 10px #fff2b9 dotted; }
  100% {
    border: 5px solid #fff2b9; } }
body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

#firstContainer {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../img/drops-wide.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#titlePageTable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 20em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 37em;
  align-items: flex-start; }
  #titlePageTable h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Tlwg Typist";
    font-size: 3em;
    color: lightgrey;
    margin: 1em 0 0 2em;
    padding: 0; }
  #titlePageTable h1:after {
    content: 'Software Developer';
    text-align: center;
    padding: 0;
    font-family: "Tlwg Typist";
    font-size: 0.8em;
    color: lightgrey; }
  #titlePageTable #arrow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 8em;
    width: 32.4em;
    margin: 1em 0 0 6em; }
    #titlePageTable #arrow:hover {
      cursor: pointer; }
    #titlePageTable #arrow > div:nth-child(1) {
      border-top: 2em solid lightgrey;
      border-left: 3em solid transparent;
      border-right: 3em solid transparent;
      height: 0;
      width: 19em;
      margin: 0 0 0.5em 0;
      animation: arrow 2s 0s ease-in-out forwards infinite; }
    #titlePageTable #arrow > div:nth-child(2) {
      border-top: 2em solid lightgrey;
      border-left: 3em solid transparent;
      border-right: 3em solid transparent;
      height: 0;
      width: 11.5em;
      margin: 0 0 0.5em 0;
      animation: arrow 2s 0.5s ease-in-out forwards infinite; }
    #titlePageTable #arrow > div:nth-child(3) {
      height: 0;
      width: 0;
      border-left: 5em solid transparent;
      border-right: 5em solid transparent;
      border-top: 3em solid lightgrey;
      animation: arrow 2s 1s ease-in-out forwards infinite; }

#mainContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 75%;
  height: 100%;
  margin: 0 12.5% 0 12.5%;
  padding: 0;
  background-color: rgba(87, 107, 116, 0.5);
  font-family: "Tlwg Typist"; }
  #mainContainer #banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0;
    padding: 2%; }
    #mainContainer #banner #profilePic {
      display: flex;
      justify-content: center;
      width: 40%;
      height: 100%;
      padding: 0; }
      #mainContainer #banner #profilePic .img-circle {
        width: 50%;
        border-radius: 50%;
        border: 5px solid #fff2b9;
        align-self: center; }
        #mainContainer #banner #profilePic .img-circle:hover {
          animation-name: dottedborder;
          animation-duration: 0.7s; }
    #mainContainer #banner #personalInfo {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 55%;
      height: 100%;
      padding: 0; }
      #mainContainer #banner #personalInfo #bioText {
        width: 70%;
        font-size: 1.2em;
        text-underline-color: #fff2b9;
        background-color: rgba(255, 242, 185, 0.2);
        margin: 1vh;
        padding: 0; }
        #mainContainer #banner #personalInfo #bioText p {
          padding: 0 2% 0 2%; }
        #mainContainer #banner #personalInfo #bioText:hover {
          background-color: #627883; }
      #mainContainer #banner #personalInfo #socialIcons span {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden; }
      #mainContainer #banner #personalInfo #socialIcons a {
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        text-decoration: none;
        color: white;
        text-align: center; }
        #mainContainer #banner #personalInfo #socialIcons a:before {
          font: 1.5em/1.75 "FontAwesome"; }
        #mainContainer #banner #personalInfo #socialIcons a[href*="github"] {
          background-color: #231f20; }
          #mainContainer #banner #personalInfo #socialIcons a[href*="github"]:before {
            content: ""; }
        #mainContainer #banner #personalInfo #socialIcons a[href*="linkedin"] {
          background-color: #0977b5; }
          #mainContainer #banner #personalInfo #socialIcons a[href*="linkedin"]:before {
            content: ""; }
      #mainContainer #banner #personalInfo #socialIcons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: flex-end;
        margin: 1vh;
        padding: 0; }
        #mainContainer #banner #personalInfo #socialIcons #gitHub {
          margin-right: 1vh; }
          #mainContainer #banner #personalInfo #socialIcons #gitHub:hover {
            animation-name: shaking;
            animation-duration: 0.5s; }
        #mainContainer #banner #personalInfo #socialIcons #linkedIn {
          margin-left: 1vh; }
          #mainContainer #banner #personalInfo #socialIcons #linkedIn:hover {
            animation-name: shaking;
            animation-duration: 0.5s; }
      #mainContainer #banner #personalInfo #skillsSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-self: flex-end;
        width: 55%;
        font-size: 1em;
        margin: 1vh;
        padding: 0; }
        #mainContainer #banner #personalInfo #skillsSection #skillsList {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          font-size: 1.2em; }
          #mainContainer #banner #personalInfo #skillsSection #skillsList div {
            margin: 1vh;
            padding: 1%;
            align-self: center;
            background-color: rgba(255, 242, 185, 0.2); }
            #mainContainer #banner #personalInfo #skillsSection #skillsList div:hover {
              background-color: #627883; }
  #mainContainer #projectSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 6vh;
    margin-bottom: 6vh; }
    #mainContainer #projectSection h1 {
      background-color: pink;
      align-self: center;
      font-size: 3em;
      text-align: center;
      margin: 1vh;
      background-color: rgba(255, 242, 185, 0.2); }
      #mainContainer #projectSection h1:hover {
        background-color: #627883; }
  #mainContainer #projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around; }
    #mainContainer #projects #project {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 1vh;
      margin-bottom: 1vh;
      margin-left: 1vh;
      margin-right: 1vh;
      width: 20em;
      height: auto;
      background-color: rgba(255, 242, 185, 0.2); }
      #mainContainer #projects #project:hover {
        background-color: #415057; }
      #mainContainer #projects #project #projectName {
        align-self: center;
        font-size: 1.5em;
        margin: 0.5em; }
      #mainContainer #projects #project #projectImg {
        align-self: center;
        padding: 0; }
        #mainContainer #projects #project #projectImg .projectRoundPic {
          border-radius: 50%;
          border: 5px solid #fff2b9; }
      #mainContainer #projects #project #projectDescription {
        align-self: center;
        text-align: center;
        margin: 0.5em;
        font-size: 1.2em; }
      #mainContainer #projects #project #projectLink {
        align-self: center;
        text-align: center;
        margin: 0.5em;
        font-size: 1.2em; }

/*# sourceMappingURL=portfolio.css.map */
