body, html {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}
#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: dimgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 5vh solid rgba(40, 40, 40, .4);
  height: 60vh;
  width: 90vh;
  margin: auto;
  background-image: url("/static/portfoliopages/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

h1 {
  text-shadow: 2px 2px grey;
  font-size: 3.5rem;
}

#city {
  height:5vh;
  width:60vh;
  font-size: 1.5rem;
}

#checkWeather {
  justify-content: center;
  height: 6vh;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#result {
  font-size: 1.5rem;
  margin-top: 3vh;
  color: black;
  background: rgba(230, 230, 250, 0.5);
  padding: 1rem;
}

#icon > img {
  height:10vh;
  margin-top:3vh;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #content {
    width: 98%;
    min-height: 55%;
    height:auto;
    border-top: 2vh solid rgba(40, 40, 40, .4);
    border-bottom: 2vh solid rgba(40, 40, 40, .4);
  }
  h1 {
    font-size: 1.2rem;
  }
  #cityTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #city {
    font-size: 0.8rem;
    width: 95%;
    margin: 0 auto;
    height:auto;
    padding:0;
  }
  #checkWeather {
    font-size: 0.8rem;
    width: 50%;
    margin: 1vh auto;
    padding:0;
    height:auto;
  }
  #result {
    justify-content: center;
    width: 80%;
    font-size: 1rem;
    margin-top: 2vh;
    text-align: center;
    padding:0;
  }
  #icon > img {
    height: 4vh;
    margin-top: 1vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
  #content {
    width: 60%;
    min-height: 50%;
    height:auto;
    background-size: cover;
  }
  h1 {
    font-size: 3rem;
  }
  #cityTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  #city {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding:0;
  }
  #checkWeather {
    font-size: 1.5rem;
    width: 50%;
    margin: 1vh auto;
    padding:0;
    height:auto;
  }
  #result {
    justify-content: center;
    width: 80%;
    font-size: 1.2rem;
    margin-top: 2vh;
    text-align: center;
    padding:0;
  }
  #icon > img {
    height: 6vh;
    margin-top: 1vh;
  }
}
