@import url('https://fonts.googleapis.com/css?family=Chewy');

html {
  background-image: url("/static/portfoliopages/img/grass.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
  width:100%;
}

body {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 5% 0;
  background-color: #a6c871;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  flex-direction: column;
}

@media only screen and (max-width: 1300px) {
  body {
    padding: 10% 0;
  }
}

@media only screen and (max-width: 790px) {
  body {
    padding:0;
  }
}

#header {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

@keyframes darker {
  0% {color:#FFFF14;}
  25% {color:#D7D700;}
  50% {color:#FFFF14;}
  100% {color:#C3C300;}
}

h1 {
  margin: 5px auto;
  align-self:center;
  font-family: 'Chewy';
  font-size: 35pt;
  color: #FFFF14;
  text-shadow: 5px 5px black;
  animation: darker 2s infinite;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20pt;
  }
}

#score {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  font-family: 'Chewy';
  font-size: 20pt;
}

@media only screen and (max-width: 600px) {
  #score {
    font-size: 10pt;
  }
}

#scoreCounter {
  align-self:center;
  font-family: 'Chewy';
  font-size: 20pt;
  margin-right:25px;
  margin-left:25px;
}

@media only screen and (max-width: 600px) {
  #scoreCounter {
    font-size: 10pt;
  }
}

#timeCounter {
  display:flex;
  flex-direction: row;
  align-self:center;
  font-family: 'Chewy';
  font-size: 20pt;
  margin-right:25px;
  margin-left:25px;
}

@media only screen and (max-width: 600px) {
  #timeCounter {
    font-size: 10pt;
  }
}

#buttons:nth-child(1), #buttons:nth-child(2), #buttons:nth-child(3) {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  margin: 5px 0;
}

#start {
  height: 50px;
  width:200px;
  font-family: 'Chewy';
  font-size: 20pt;
  background-color: #FFFF14;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #start {
    height: 25px;
    width:125px;
    font-size: 10pt;
  }
}

#stop {
  height: 50px;
  width:100px;
  background-color: #C3C300;
  font-family: 'Chewy';
  font-size: 20pt;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #stop {
    height: 25px;
    width:60px;
    font-size: 10pt;
  }
}

#reset {
  height: 50px;
  width:100px;
  background-color: #C3C300;
  font-family: 'Chewy';
  font-size: 20pt;
  color:black;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #reset {
    height: 25px;
    width:50px;
    font-size: 10pt;
  }
}

#field {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-items: center;
  margin: 2em auto;
  cursor: url("/static/portfoliopages/img/cursor.cur"), auto;
}

#field > div > div {
  margin: 50px;
}

@media only screen and (max-width: 1300px) {
  #field > div > div {
    margin: 30px;
  }
}

@media only screen and (max-width: 790px) {
  #field > div > div {
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #field > div > div > img {
      width: 51px;
      height: 44px;
    }
  }

@media only screen and (max-width: 350px) {
  #field > div > div > img {
      width: 45px;
      height: 40px;
    }
  }
