{% extends 'animalapp/base.html' %}
{% load static %}
{% block title %}My Account{% endblock title %}

{% block content %}
    <div id="addOption">
      <h1>Add a new profile <img class="slideIcon" src={% static 'animalapp/img/arrows-couple.svg' %}/></h1>
    </div>
    <div id="addAnimalTable" style="display: none">
        <form id="addAnimal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="errordiv"></div>
            <div class="addAnimalRows">
                <div class="left">Select species:</div>
                <div class="right">{{ form.species }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Upload pictures:</div>
                <div class="right">{{ form.img }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Name:</div>
                <div class="right">{{ form.name }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">ID number:</div>
                <div class="right">{{ form.id_number }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Gender:</div>
                <div class="right selectionBox">{{ form.gender }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Birthday:</div>
                <div class="right date">{{ form.birthday }}</div>
            </div>
            <div class="addAnimalRows dog" style="display: none">
                <div class="left">Breed:</div>
                <div class="right">{{ dog_form.dog_breed }}</div>
            </div>
            <div class="addAnimalRows cat" style="display: none">
                <div class="left">Breed:</div>
                <div class="right">{{ cat_form.cat_breed }}</div>
            </div>
            <div class="addAnimalRows dog" style="display: none">
                <div class="left">Size:</div>
                <div class="right">{{ dog_form.size }}</div>
            </div>
            <div class="addAnimalRows dog" style="display: none">
                <div class="left">Enter weight(optional):</div>
                <div class="right">{{ dog_form.weight }}</div>
            </div>
            <div class="addAnimalRows dog" style="display: none">
                <div class="left">Color:</div>
                <div class="right two-columns">{{ dog_form.dog_color }}</div>
            </div>
            <div class="addAnimalRows cat" style="display: none">
                <div class="left">Color:</div>
                <div class="right">{{ cat_form.cat_color }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Spayed/neutered:</div>
                <div class="right">{{ form.surgery }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Current on vaccinations:</div>
                <div class="right">{{ form.vaccine }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Location:</div>
                <div class="right">{{ form.location }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Intake date:</div>
                <div class="right date">{{ form.intake_date }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Status:</div>
                <div class="right">{{ form.status }}</div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Needs a home without (optional):</div>
                <div class="right two-columns">{{ form.home }}</div>
            </div>
            <div class="addAnimalRows dog" id="dogPersonality" style="display: none">
                <div class="left">Personality:</div>
                <div class="right two-columns">
                    {% for value, text in dog_form.dog_personality.field.choices %}
                        <div class="ui slider checkbox">
                            <input id="id_dog_personality_{{ forloop.counter0 }}"
                                   name="{{ dog_form.dog_personality.name }}" type="checkbox"
                                   value="{{ value }}"{% if value in checked_dog_personality %}
                                   checked="checked"{% endif %}>
                            <label>{{ text }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="addAnimalRows cat" id="catPersonality" style="display: none">
                <div class="left">Personality:</div>
                <div class="right two-columns">
                    {% for value, text in cat_form.cat_personality.field.choices %}
                        <div class="ui slider checkbox">
                            <input id="id_cat_personality_{{ forloop.counter0 }}"
                                   name="{{ cat_form.cat_personality.name }}" type="checkbox"
                                   value="{{ value }}"{% if value in checked_cat_personality %}
                                   checked="checked"{% endif %}>
                            <label>{{ text }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="addAnimalRows">
                <div class="left">Add a special note (optional):</div>
                <div class="right">{{ form.notes }}</div>
            </div>
            <input type="submit" class="submitButton" name="submitButton" value="Create Profile"/>
        </form>
    </div>

    <div id="seeAllOption">
      <h1>Manage existing entries <img class="slideIcon" src={% static 'animalapp/img/arrows-couple.svg' %}/></h1>
    </div>

    <div id="tableContainer" style="display: flex">
        <form method="GET" id="dbfilters">
            <div class="filterPanel">Results found: {{ filtered_animals.qs|length }}</div>
            <div class="filterPanel">Filter all entries:
                {{ filtered_animals.form.species }}
                {{ filtered_animals.form.gender }}
                {{ filtered_animals.form.location }}
            </div>
        </form>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% if filtered_animals.qs %}
            {% for a in filtered_animals.qs|dictsort:"name" %}
                <form id="deleteForm" method="GET">
                  {% csrf_token %}
                  <div class="dataBaseRow">
                      <div class="dataBaseInfo">
                          <div class="nameRow">{{ a.name }}</div>
                          <div class="speciesRow">{{ a.species }}</div>
                          <div class="idRow">{{ a.id_number }}</div>
                          <div class="locationRow">{{ a.location }}</div>
                      </div>
                      <div class="dataButtons">
                          <div class="dbButton"><a href="{% url 'animal_profile' a.slug %}" target="_blank">View</a>
                          </div>
                          <div class="dbButton edit">Edit</div>
                          <div class="dbButton delete">Delete</div>
                      </div>
                  </div>
                  <div class="deleteEntry" style="display: none">
                      <p>Are you sure you want to delete this profile?</p>
                      <input type="submit" class="dbButton" name="deleteButton" value="Yes">
                      <input type="hidden" name="animalID" value={{ a.id }}>
                      <div class="dbButton noDelete"><u>No</u></div>
                  </div>
                </form>

                <form class="editProfile" method="post" enctype="multipart/form-data" style="display: none">
                  {% csrf_token %}
                  <svg class="cross" viewBox="0 0 24 24">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                  </svg>
                  <div class="addAnimalRows">
                    <div class="left">Select species:</div>
                    <div class="right">{{ a.edit_form.species }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Uploaded pictures:</div>
                    <div class="right">
                      {{ a.edit_form.img }}
                      {% for img in a.images.all %}
                      <div class="photos">
                        {{ img.img }}
                        <img src="{{ img.img.url }}" alt="{{ a.name }}" height='60em'>
                        <a class="deleteIMG" href="{% url 'delete_img' %}?img_id={{img.id}}">
                          <svg class="cross small" viewBox="0 0 24 24">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                          </svg>
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Name:</div>
                    <div class="right">{{ a.edit_form.name }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">ID number:</div>
                    <div class="right">{{ a.edit_form.id_number }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Gender:</div>
                    <div class="right selectionBox">{{ a.edit_form.gender }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Birthday:</div>
                    <div class="right date">{{ a.edit_form.birthday }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Spayed/neutered:</div>
                    <div class="right">{{ a.edit_form.surgery }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Current on vaccinations:</div>
                    <div class="right">{{ a.edit_form.vaccine }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Location:</div>
                    <div class="right">{{ a.edit_form.location }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Intake date:</div>
                    <div class="right date">{{ a.edit_form.intake_date }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Status:</div>
                    <div class="right">{{ a.edit_form.status }}</div>
                  </div>
                  <div class="addAnimalRows">
                    <div class="left">Prefers a home without (optional):</div>
                    <div class="right two-columns">{{ a.edit_form.home }}</div>
                  </div>
                  {% if a.species_edit_form.cat_breed %}
                    <div class="addAnimalRows">
                      <div class="left">Breed:</div>
                      <div class="right">{{ a.species_edit_form.cat_breed }}</div>
                    </div>
                  {% endif %}
                  {% if a.species_edit_form.dog_breed %}
                    <div class="addAnimalRows">
                      <div class="left">Breed:</div>
                      <div class="right">{{ a.species_edit_form.dog_breed }}</div>
                    </div>
                  {% endif %}
                  {% if a.species_edit_form.size %}
                    <div class="addAnimalRows">
                      <div class="left">Size:</div>
                      <div class="right">{{ a.species_edit_form.size }}</div>
                    </div>
                  {% endif %}
                  {% if a.species_edit_form.weight %}
                    <div class="addAnimalRows">
                      <div class="left">Specify weight (optional):</div>
                      <div class="right">{{ a.species_edit_form.weight }}</div>
                    </div>
                  {% endif %}
                  {% if a.species_edit_form.cat_color %}
                    <div class="addAnimalRows">
                      <div class="left">Color:</div>
                      <div class="right">{{ a.species_edit_form.cat_color }}</div>
                    </div>
                  {% endif %}
                  {% if a.species_edit_form.dog_color %}
                    <div class="addAnimalRows">
                      <div class="left">Color:</div>
                      <div class="right">{{ a.species_edit_form.dog_color }}</div>
                    </div>
                  {% endif %}
                  {% if a.species_edit_form.cat_personality %}
                    <div class="addAnimalRows">
                      <div class="left">Personality:</div>
                      <div class="right">{{ a.species_edit_form.cat_personality }}</div>
                    </div>
                  {% endif %}
                  {% if a.species_edit_form.dog_personality %}
                    <div class="addAnimalRows">
                      <div class="left">Personality:</div>
                      <div class="right">{{ a.species_edit_form.dog_personality }}</div>
                    </div>
                  {% endif %}
                  <div class="addAnimalRows">
                    <div class="left">Add a special note (optional):</div>
                    <div class="right">{{ a.edit_form.notes }}</div>
                  </div>
                  <input type="submit" class="submitButton" value="Save">
                  <input type="hidden" name="edit" value={{ a.id }}>
                </form>
            {% endfor %}
            {% else %}
                <div class="infoText">No entries matching your selection criteria were found.</div>
            {% endif %}
    </div>
  </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'animalapp/js/add_animal.js' %}"></script>
{% endblock %}
