{% extends 'animalapp/base.html' %}
{% load static %}
<title>{% block title %}Animal Profile{% endblock %}</title>
{% block content %}
{% if animals %}
    <p>
        {{ animals.species|capfirst }}'s name: {{ animals.name }}<br>
        Id number: {{ animals.id_number }}<br>
        Gender: {{ animals.gender|yesno:"male, female"}}<br>
        {% if animals.cat %}
            Breed: {{ animals.cat.cat_breed }}<br>
            Color: {{ animals.cat.cat_color }}<br>
        {% else %}
            Breed: {{ animals.dog.dog_breed }}<br>
            Color: {{ animals.dog.dog_color }}<br>
        {% endif %}
        Age: {{ animals.animal_age }}<br>
        {% if animals.dog %}
            Size: {{ animals.dog.size }}<br>
            {% if animals.dog.weight %}
                Weight: {{ animals.dog.weight }} lbs<br>
            {% endif %}
        {% endif %}
        Spayed/neutered: {{ animals.surgery|yesno:"yes, no" }}<br>
        Current on vaccinations: {{ animals.vaccine|yesno:"yes, no" }}<br>
        Location: {{ animals.location }}<br>
        Intake date: {{ animals.intake_date }}<br>
        Status: {{ animals.status }}<br>
        {% if animals.home %}
            Prefers a home without: {{ animals.home }}<br>
        {% endif %}
        {% if animals.cat %}
            Personality:

            <br>
        {% else %}
            Personality: {{ animals.dog.dog_personality }}<br>
        {% endif %}
        {% if animals.notes %}
            Special note: {{ animals.notes }}<br>
        {% endif %}
        Tags: {% for tag in  animals.tags.all %}{{ tag }}, {% endfor %}
    </p>
{% else %}
    The specified animal profile does not exist! Please double-check the animal's ID number.
{% endif %}
{% endblock %}
