{% extends 'animalapp/base.html' %}
{% load static %}
<title>{% block title %}Profile{% endblock %}</title>

{% block content %}
    {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
    {% endif %}
    {% if animals %}
        <div class="slides">
            <ul class="pgwSlideshow">
                {% for img in animals.images.all %}
                    <li><img src="{{ img.img.url }}" alt="{{ animals.name }}"></li>
                {% endfor %}
            </ul>
        </div>
        <div id="profile">
            <div id="profileBox">
                <div class="profileRow">
                    <div class="left">{{ animals.species|capfirst }}'s name:</div>
                    <div class="right">{{ animals.name|capfirst }}</div>
                </div>
                <div class="profileRow">
                    <div class="left">Id number:</div>
                    <div class="right">{{ animals.id_number }}</div>
                </div>
                <div class="profileRow">
                    <div class="left">Gender:</div>
                    <div class="right">{{ animals.gender|yesno:"male, female" }}</div>
                </div>
                {% if animals.cat %}
                    <div class="profileRow">
                        <div class="left">Breed:</div>
                        <div class="right">{{ animals.cat.cat_breed }}</div>
                    </div>
                    <div class="profileRow">
                        <div class="left">Color:</div>
                        <div class="right">{{ animals.cat.cat_color }}</div>
                    </div>
                {% else %}
                    <div class="profileRow">
                        <div class="left">Breed:</div>
                        <div class="right">{{ animals.dog.dog_breed }}</div>
                    </div>
                    <div class="profileRow">
                        <div class="left">Color:</div>
                        <div class="right">{{ animals.dog.dog_color }}</div>
                    </div>
                {% endif %}
                <div class="profileRow">
                    <div class="left">Age:</div>
                    <div class="right">{{ animals.animal_age }}</div>
                </div>
                {% if animals.dog %}
                    <div class="profileRow">
                        <div class="left">Size:</div>
                        <div class="right">{{ animals.dog.size }}</div>
                    </div>
                    {% if animals.dog.weight %}
                        <div class="profileRow">
                            <div class="left">Weight:</div>
                            <div class="right">{{ animals.dog.weight }} lbs</div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="profileRow">
                    <div class="left">Spayed/neutered:</div>
                    <div class="right">{{ animals.surgery|yesno:"yes, no" }}</div>
                </div>
                <div class="profileRow">
                    <div class="left">Current on vaccinations:</div>
                    <div class="right">{{ animals.vaccine|yesno:"yes, no" }}</div>
                </div>
                <div class="profileRow">
                    <div class="left">Location:</div>
                    <div class="right">{{ animals.location }}</div>
                </div>
                <div class="profileRow">
                    <div class="left">Intake date:</div>
                    <div class="right">{{ animals.intake_date }}</div>
                </div>
                <div class="profileRow">
                    <div class="left">Status:</div>
                    <div class="right">{{ animals.status }}</div>
                </div>
                {% if animals.home %}
                    <div class="profileRow">
                        <div class="left">Prefers a home without:</div>
                        <div class="right">{{ animals.home }}</div>
                    </div>
                {% endif %}
            </div>

            <div id="personalityBox">
                <div id="socialMedia">
                    <div class="fb-share-button">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://ofosa.org/" target="_blank">
                        <img class="social" src="{% static 'animalapp/img/facebook.png' %}"></a></div>
                    <div id="google"><a href="https://plus.google.com/share?url=http://ofosa.org/" target="_blank">
                        <img class="social" src="{% static 'animalapp/img/google.png' %}"></a></div>
                    <div id="twitter"><a href="http://twitter.com/intent/tweet?http://ofosa.org/" target="_blank">
                        <img class="social" src="{% static 'animalapp/img/twitter.png' %}"></a></div>
                    <div id="pinterest">
                        <a href="http://pinterest.com/pin/create/button/?url=http://ofosa.org/&media=http://ofosa.org/&description=OFOSA"
                           target="_blank">
                        <img class="social" src="{% static 'animalapp/img/pinterest.png' %}"></a></div>
                    <div>
                        <div id="personalityProfile">
                            {% if animals.cat %}
                                <div class="profileRow">
                                    <div class="left">Personality:</div>
                                    <div class="right">{{ animals.cat.cat_personality }}</div>
                                </div>
                            {% else %}
                                <div class="profileRow">
                                    <div class="left">Personality:</div>
                                    <div class="right">{{ animals.dog.dog_personality }}</div>
                                </div>
                            {% endif %}
                            {% if animals.notes %}
                                <div class="profileRow">
                                    <div class="left">Special note:</div>
                                    <div class="right">{{ animals.notes }}</div>
                                </div>
                            {% endif %}
                            <div class="profileRow">
                                <div class="left">Tags:</div>
                                <div class="right tags">
                                    {% for tag in  animals.tags.all %}
                                        <form method="get">
                                            <input type="submit" class="tag" name="tag" value="{{ tag }}">
                                        </form>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="contactButtons">
                        <div id="ask" class="contact">Ask about {{ animals.name }}
                            <img class="contactIcon" src={% static 'animalapp/img/contact.svg' %}/>
                        </div>
                        <div id="donation" class="contact">Send a donation
                        <img class="contactIcon" src={% static 'animalapp/img/gift.svg' %}/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="messages">
            The specified animal profile does not exist! Please double-check the animal's ID number.
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'animalapp/js/animal_profile.js' %}"></script>
    <script src="{% static 'animalapp/js/PgwSlideshow-master/pgwslideshow.js' %}"></script>
{% endblock %}

