{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/animalapp/sass/index.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/animalapp/sass/add_animal.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/animalapp/sass/search_results.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/animalapp/sass/animal_profile.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/animalapp/js/PgwSlideshow-master/pgwslideshow.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
<div id="mainContainer" class="demo-2">
    <div id="loginInfo">
        {% if user.is_authenticated %}
            Hello, {{ user.first_name }}!&nbsp;|
            <div id="myActivity"><a href="{% url 'add_animal' %}">&nbsp;My Activity&nbsp;|</a></div>
            <div id="mainSite"><a href="{% url 'index' %}">&nbsp;Main Site&nbsp;|</a></div>
            <div id="logout"><a href="{% url 'logout' %}?next=/">&nbsp;Sign Out</a></div>
        {% else %}
            <div id="login"><a href="{% url 'login' %}">Login&nbsp;|</a></div>
            <div id="signup"><a href="{% url 'signup' %}">&nbsp;Register</a></div>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</div>
{% block js %}
{% endblock %}
</body>
</html>
