{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/animalapp/sass/index.css' %}">
</head>
<body>
<div id="mainContainer">
    <div id="loginInfo">
        {% if user.is_authenticated %}
            Hello, {{ user.first_name }}!&nbsp;|
            <div id="cabinet"><a href="{% url 'login' %}">&nbsp;My Activity&nbsp;|</a></div>
            <div id="logout">&nbsp;Sign Out</div>
        {% else %}
            <div id="login">Login&nbsp;|</div>
            <div id="signup">&nbsp;Register</div>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>