{% extends 'animalapp/base.html' %}
{% load static %}
{% block title %}Search Page{% endblock %}

{% block content %}
<h1>Find a pet</h1>
    <form method="GET" action="/search_results">
<div id="searchTab">
    <div id="searchEngine">
        <input type="search" id="searchField" title="searchField" name="searchField" placeholder="Start typing, eg. adult Siamese cat...">
        <input type="submit" id="findButton" name="submitSearch" value="Find">
    </div>
    <div id="findAllTab">
        <input type="submit" id="allDogs" title="allDogs" name="allDogs" value="Show me all dogs">
        <input type="submit" id="allCats" title="allCats" name="allCats" value="Show me all cats">
    </div>
</div>
    </form>
{% endblock content %}
{% block js %}
    <script src="{% static 'animalapp/js/index.js' %}"></script>
{% endblock %}
