{% extends 'animalapp/base.html' %}
{% load static %}
{% block title %}Search Page{% endblock %}

{% block content %}
<h1>Find a pet</h1>
<div id="searchTab">
    <div id="searchEngine">
        <form method="GET" action="/search_results">
            <input type="search" id="searchField" title="searchField" name="searchField" placeholder="Start typing, eg. adult Siamese cat...">
            <input type="submit" id="findButton" name="submitSearch" value="Find">
        </form>
    </div>
    <div id="findAllTab">
        <button type="submit" id="allDogs">Show me all dogs</button>
        <button type="submit" id="allCats">Show me all cats</button>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script src="{% static 'animalapp/js/index.js' %}"></script>
{% endblock %}
